Source: ros-noetic-ros-babel-fish
Section: misc
Priority: optional
Maintainer: Stefan Fabian <ros_babel_fish@stefanfabian.me>
Build-Depends: debhelper (>= 9.0.0), openssl, ros-noetic-actionlib, ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-ros-babel-fish-test-msgs, ros-noetic-rosapi, ros-noetic-roscpp, ros-noetic-roscpp-tutorials, ros-noetic-rosgraph-msgs, ros-noetic-roslib, ros-noetic-rostest, ros-noetic-std-msgs, ros-noetic-std-srvs, ros-noetic-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-ros-babel-fish
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl, ros-noetic-actionlib, ros-noetic-roscpp, ros-noetic-roslib
Description: The ros_babel_fish package
